__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.patch.db
gwas.db
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.vcf.gz.csi
.pytest_cache/
giab/
data/gwas_catalog/
snpEff_genes.txt
snpEff_summary.html
config.toml
README_files/
tests/data/
.DS_Store
.vscode/
.idea/
